openapi: 3.1.0
info:
  title: CreatorOS Public API
  version: 1.1.0
  description: >
    Mobile-facing API for CreatorOS connected content workflows.
    All mutating endpoints require an Idempotency-Key header.
    All error responses use RFC 9457 application/problem+json.

servers:
  - url: https://api.creatoros.app/v1
    description: Production
  - url: https://api.staging.creatoros.app/v1
    description: Staging

security:
  - SupabaseBearer: []

paths:
  /connections:
    get:
      operationId: listConnections
      tags: [Connections]
      summary: List connected provider accounts
      responses:
        "200":
          description: Connected accounts
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Connection"
                  page:
                    $ref: "#/components/schemas/Page"
        "401":
          $ref: "#/components/responses/Unauthenticated"

  /connections/oauth/start:
    post:
      operationId: startOAuthConnection
      tags: [Connections]
      summary: Start a provider OAuth connection flow
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OAuthStartRequest"
      responses:
        "201":
          description: OAuth transaction created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthStartResponse"
        "400":
          $ref: "#/components/responses/ValidationFailed"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "409":
          description: Provider account already connected or plan limit reached
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"

  /connections/oauth/transactions/{transactionId}:
    get:
      operationId: getOAuthTransaction
      tags: [Connections]
      summary: Check OAuth transaction outcome
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OAuth transaction state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthTransaction"
        "404":
          $ref: "#/components/responses/NotFound"

  /connections/{connectionId}:
    get:
      operationId: getConnection
      tags: [Connections]
      summary: Get connection detail
      parameters:
        - $ref: "#/components/parameters/ConnectionId"
      responses:
        "200":
          description: Connection detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connection"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: disconnectConnection
      tags: [Connections]
      summary: Disconnect provider account
      parameters:
        - $ref: "#/components/parameters/ConnectionId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          description: Disconnect operation queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  /connections/{connectionId}/health:
    get:
      operationId: getConnectionHealth
      tags: [Connections]
      summary: Get connection health
      parameters:
        - $ref: "#/components/parameters/ConnectionId"
      responses:
        "200":
          description: Connection health
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionHealth"

  /connections/{connectionId}:reauthorize:
    post:
      operationId: reauthorizeConnection
      tags: [Connections]
      summary: Start reauthorization flow for an existing connection
      parameters:
        - $ref: "#/components/parameters/ConnectionId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          description: Reauthorization started; returns OAuth authorization URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  oauth_transaction_id:
                    type: string
                  provider_authorization_url:
                    type: string
                    format: uri
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Connection does not need reauthorization or reauthorization already in progress
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"

  /connections/{connectionId}:sync:
    post:
      operationId: syncConnection
      tags: [Connections]
      summary: Request manual incremental sync for a connection
      parameters:
        - $ref: "#/components/parameters/ConnectionId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          description: Sync operation queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Connection needs reauthorization before sync can proceed
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"

  /connected-content:
    get:
      operationId: listConnectedContent
      tags: [ConnectedContent]
      summary: List connected content records
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [draft, scripting, filming, editing, ready, delivered, archived]
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
            maximum: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Connected content records
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ConnectedContentRecordSummary"
                  page:
                    $ref: "#/components/schemas/Page"
    post:
      operationId: createConnectedContent
      tags: [ConnectedContent]
      summary: Create a connected content record
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectedContentCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectedContentRecord"
        "400":
          $ref: "#/components/responses/ValidationFailed"
        "401":
          $ref: "#/components/responses/Unauthenticated"

  /connected-content/{recordId}:
    get:
      operationId: getConnectedContent
      tags: [ConnectedContent]
      summary: Get connected content record with source links and receipt summary
      parameters:
        - $ref: "#/components/parameters/RecordId"
      responses:
        "200":
          description: Record detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectedContentRecord"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateConnectedContent
      tags: [ConnectedContent]
      summary: Update connected content record fields
      parameters:
        - $ref: "#/components/parameters/RecordId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectedContentPatch"
      responses:
        "200":
          description: Updated record
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectedContentRecord"
        "400":
          $ref: "#/components/responses/ValidationFailed"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteConnectedContent
      tags: [ConnectedContent]
      summary: Soft delete a connected content record
      parameters:
        - $ref: "#/components/parameters/RecordId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          description: Delete operation queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  /connected-content/{recordId}/links:
    post:
      operationId: attachSourceLink
      tags: [ConnectedContent]
      summary: Attach an external source link to a record
      parameters:
        - $ref: "#/components/parameters/RecordId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExternalSourceLinkCreate"
      responses:
        "201":
          description: Source link attached
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalSourceLink"
        "400":
          $ref: "#/components/responses/ValidationFailed"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: removeSourceLink
      tags: [ConnectedContent]
      summary: Remove a source link from a record
      parameters:
        - $ref: "#/components/parameters/RecordId"
        - name: linkId
          in: query
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          description: Removal operation queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  /connected-content/{recordId}/delivery:
    post:
      operationId: markDelivered
      tags: [ConnectedContent]
      summary: Mark record as delivered and create delivery receipt
      parameters:
        - $ref: "#/components/parameters/RecordId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [delivery_url]
              properties:
                delivery_url:
                  type: string
                  format: uri
                note:
                  type: string
                create_client_ack_link:
                  type: boolean
                  default: false
      responses:
        "200":
          description: Delivery state updated with optional client acknowledgment URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  record:
                    $ref: "#/components/schemas/ConnectedContentRecord"
                  receipt:
                    $ref: "#/components/schemas/ActionReceipt"
                  client_ack_url:
                    type: string
                    format: uri
                    nullable: true

  /connected-content/{recordId}/receipts:
    get:
      operationId: listRecordReceipts
      tags: [ActionReceipts]
      summary: List action receipts for a connected content record
      parameters:
        - $ref: "#/components/parameters/RecordId"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
            maximum: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Receipts list
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ActionReceipt"
                  page:
                    $ref: "#/components/schemas/Page"
        "404":
          $ref: "#/components/responses/NotFound"

  /action-receipts/{receiptId}:
    get:
      operationId: getActionReceipt
      tags: [ActionReceipts]
      summary: Get a single action receipt
      parameters:
        - $ref: "#/components/parameters/ReceiptId"
      responses:
        "200":
          description: Receipt detail with annotations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionReceipt"
        "404":
          $ref: "#/components/responses/NotFound"

  /action-receipts/{receiptId}/annotation:
    post:
      operationId: addReceiptAnnotation
      tags: [ActionReceipts]
      summary: Add an annotation to an existing receipt (original receipt remains immutable)
      parameters:
        - $ref: "#/components/parameters/ReceiptId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  maxLength: 2000
      responses:
        "201":
          description: Annotation created as a separate append-only record
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceiptAnnotation"
        "404":
          $ref: "#/components/responses/NotFound"

  /search:
    get:
      operationId: searchConnectedContent
      tags: [Search]
      summary: Search normalized connected content index
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 2
            maxLength: 200
        - name: providers
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated provider filter (google_drive,google_docs,google_calendar,notion)
        - name: types
          in: query
          required: false
          schema:
            type: string
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [relevance, modified_desc, title_asc]
            default: relevance
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
            maximum: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Search results with coverage metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
        "400":
          $ref: "#/components/responses/ValidationFailed"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "429":
          $ref: "#/components/responses/RateLimited"

  /search:refresh:
    post:
      operationId: refreshSearch
      tags: [Search]
      summary: Enqueue async provider search refresh
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                providers:
                  type: array
                  items:
                    type: string
                    enum: [google_drive, google_docs, google_calendar, notion]
      responses:
        "202":
          description: Refresh operation queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationResponse"
        "429":
          $ref: "#/components/responses/RateLimited"

  /operations/{operationId}:
    get:
      operationId: getOperation
      tags: [Operations]
      summary: Get durable operation state
      parameters:
        - $ref: "#/components/parameters/OperationId"
      responses:
        "200":
          description: Operation state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
        "404":
          $ref: "#/components/responses/NotFound"

  /operations/{operationId}:cancel:
    post:
      operationId: cancelOperation
      tags: [Operations]
      summary: Cancel a queued or retry-scheduled operation
      parameters:
        - $ref: "#/components/parameters/OperationId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Operation cancelled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Operation already running or completed and cannot be cancelled
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"

  /connected-content/{recordId}/delivery-link:
    post:
      operationId: createDeliveryLink
      tags: [DeliveryLinks]
      summary: Create a public delivery share link
      parameters:
        - $ref: "#/components/parameters/RecordId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                expires_in_hours:
                  type: integer
                  default: 168
                  minimum: 1
                  maximum: 720
      responses:
        "201":
          description: Delivery link created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliveryLink"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: revokeDeliveryLink
      tags: [DeliveryLinks]
      summary: Revoke the public delivery link for a record
      parameters:
        - $ref: "#/components/parameters/RecordId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "204":
          description: Link revoked
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    SupabaseBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    ConnectionId:
      name: connectionId
      in: path
      required: true
      schema:
        type: string
    RecordId:
      name: recordId
      in: path
      required: true
      schema:
        type: string
    OperationId:
      name: operationId
      in: path
      required: true
      schema:
        type: string
    ReceiptId:
      name: receiptId
      in: path
      required: true
      schema:
        type: string
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
      description: >
        Client-generated UUIDv4 or cryptographically secure random string >=128 bits.
        Must be persisted locally and reused on retries. Same key + same request body
        returns the original response. Same key + different request returns 409.

  responses:
    Unauthenticated:
      description: Missing or invalid Supabase token
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    ValidationFailed:
      description: Invalid request body or parameters
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    NotFound:
      description: Resource not found
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    RateLimited:
      description: Rate limit exceeded
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

  schemas:
    Problem:
      type: object
      description: RFC 9457 problem details with CreatorOS extensions
      required: [type, title, status]
      properties:
        type:
          type: string
          format: uri-reference
          description: URI identifying the error type (e.g., https://creatoros.app/errors/rate_limited)
        title:
          type: string
          description: Short human-readable summary
        status:
          type: integer
          description: HTTP status code
        detail:
          type: string
          nullable: true
          description: User-safe explanation
        instance:
          type: string
          format: uri-reference
          nullable: true
        code:
          type: string
          description: Stable machine-readable CreatorOS error code (e.g., RATE_LIMITED, CONNECTION_REAUTH_REQUIRED)
        requestId:
          type: string
          description: Correlation ID for support and log lookup
        retryAfterSeconds:
          type: integer
          nullable: true
        retryable:
          type: boolean
          default: false
        action:
          type: string
          nullable: true
          description: Suggested mobile action (retry_later, reconnect_provider, refresh_and_resolve)
        connection_id:
          type: string
          nullable: true
          description: Related connection when the error is connection-scoped
        details:
          type: array
          nullable: true
          items:
            type: object
            properties:
              field:
                type: string
              reason:
                type: string

    Connection:
      type: object
      required: [id, provider, status, capabilities]
      properties:
        id:
          type: string
        provider:
          type: string
          enum: [google_drive, google_docs, google_calendar, notion]
        provider_account_label:
          type: string
        scopes:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [authorizing, healthy, syncing, degraded, reauth_required, revoked, disconnected]
        capabilities:
          type: object
          additionalProperties:
            type: boolean
        last_sync_at:
          type: string
          format: date-time
          nullable: true

    ConnectionHealth:
      type: object
      required: [connection_id, state]
      properties:
        connection_id:
          type: string
        state:
          type: string
          enum: [authorizing, healthy, syncing, degraded, stale, reauth_required, revoked, error, disconnected]
        last_success:
          type: string
          format: date-time
          nullable: true
        last_attempt:
          type: string
          format: date-time
          nullable: true
        last_error_code:
          type: string
          nullable: true
        affected_records_count:
          type: integer

    OAuthStartRequest:
      type: object
      required: [provider]
      properties:
        provider:
          type: string
          enum: [google_drive, google_docs, google_calendar, notion]

    OAuthStartResponse:
      type: object
      required: [transaction_id, authorization_url]
      properties:
        transaction_id:
          type: string
        authorization_url:
          type: string
          format: uri
        expires_at:
          type: string
          format: date-time

    OAuthTransaction:
      type: object
      required: [id, state]
      properties:
        id:
          type: string
        state:
          type: string
          enum: [pending, completed, failed, expired, consumed]
        connection_id:
          type: string
          nullable: true
        error_code:
          type: string
          nullable: true

    ConnectedContentRecordSummary:
      type: object
      required: [id, title, status]
      properties:
        id:
          type: string
        title:
          type: string
        brand:
          type: string
          nullable: true
        campaign:
          type: string
          nullable: true
        due_date:
          type: string
          format: date-time
          nullable: true
        status:
          type: string
        delivery_status:
          type: string
          nullable: true
        next_action:
          type: string
          nullable: true
        updated_at:
          type: string
          format: date-time

    ConnectedContentRecord:
      type: object
      required: [id, title, status, created_at, updated_at]
      properties:
        id:
          type: string
        workspace_id:
          type: string
        title:
          type: string
        brand:
          type: string
          nullable: true
        campaign:
          type: string
          nullable: true
        due_date:
          type: string
          format: date-time
          nullable: true
        status:
          type: string
          enum: [draft, scripting, filming, editing, ready, delivered, archived]
        delivery_status:
          type: string
          enum: [not_delivered, delivered, acknowledged, failed]
          nullable: true
        next_action:
          type: string
          nullable: true
        next_action_reason:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        source_links:
          type: array
          items:
            $ref: "#/components/schemas/ExternalSourceLink"
        receipts_summary:
          type: object
          properties:
            total_count:
              type: integer
            pending_count:
              type: integer
            latest_receipt_at:
              type: string
              format: date-time
              nullable: true
        connection_health_summary:
          type: object
          description: Aggregated health across all linked connections on this record
          properties:
            overall_state:
              type: string
              enum: [healthy, stale, degraded, reauth_required, error]
            unhealthy_providers:
              type: array
              items:
                type: string
        delivery_url:
          type: string
          format: uri
          nullable: true
        client_ack_url:
          type: string
          format: uri
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ConnectedContentCreate:
      type: object
      required: [title]
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 500
        brand:
          type: string
        campaign:
          type: string
        due_date:
          type: string
          format: date-time
        status:
          type: string
          default: draft
        notes:
          type: string

    ConnectedContentPatch:
      type: object
      minProperties: 1
      properties:
        title:
          type: string
        brand:
          type: string
        campaign:
          type: string
        due_date:
          type: string
          format: date-time
        status:
          type: string
        notes:
          type: string

    ExternalSourceLinkCreate:
      type: object
      required: [provider, external_object_id, link_type]
      properties:
        provider:
          type: string
        external_object_id:
          type: string
        canonical_url:
          type: string
        display_name:
          type: string
        link_type:
          type: string
          enum: [brief, script, footage, design, edit, delivery, other]
        match_method:
          type: string
          enum: [explicit_url, object_id, metadata_match, user_confirmed]

    ExternalSourceLink:
      type: object
      required: [id, record_id, provider, status, link_type]
      properties:
        id:
          type: string
        record_id:
          type: string
        provider:
          type: string
        external_object_id:
          type: string
        canonical_url:
          type: string
          nullable: true
        display_name:
          type: string
        link_type:
          type: string
        match_method:
          type: string
        status:
          type: string
          enum: [healthy, stale, missing, needs_reauthorization]
        last_verified_at:
          type: string
          format: date-time
          nullable: true
        confidence:
          type: number
          nullable: true

    ReceiptAnnotation:
      type: object
      required: [id, receipt_id, text, created_at]
      properties:
        id:
          type: string
        receipt_id:
          type: string
        text:
          type: string
        author_user_id:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    SearchResponse:
      type: object
      required: [data, coverage]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/SearchResult"
        page:
          $ref: "#/components/schemas/Page"
        coverage:
          $ref: "#/components/schemas/SearchCoverage"
        meta:
          type: object
          properties:
            request_id:
              type: string

    SearchResult:
      type: object
      required: [id, provider, kind, title]
      properties:
        id:
          type: string
        provider:
          type: string
        kind:
          type: string
          description: Object type (document, file, folder, event, page, database)
        title:
          type: string
        canonical_url:
          type: string
          format: uri
          nullable: true
        modified_at:
          type: string
          format: date-time
        is_stale:
          type: boolean
          description: True when result may be outdated due to sync lag or connection issues
        last_verified_at:
          type: string
          format: date-time
          nullable: true
        access_state:
          type: string
          description: Provider-specific access state (available, restricted, unavailable)
        coverage_note:
          type: string
          nullable: true
          description: Per-provider health context shown alongside results

    SearchCoverage:
      type: object
      required: [state]
      properties:
        state:
          type: string
          enum: [complete, partial]
        searched_providers:
          type: array
          items:
            type: string
        fresh_providers:
          type: array
          items:
            type: string
        stale_providers:
          type: array
          items:
            type: string
        unavailable_providers:
          type: array
          items:
            type: string

    Operation:
      type: object
      required: [id, type, status, created_at]
      properties:
        id:
          type: string
        type:
          type: string
          description: One of connection_sync, content_handoff, connected_content_delete, source_link_remove, connection_disconnect, search_refresh
        status:
          type: string
          enum: [queued, running, succeeded, failed, cancelled]
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true
        receipt_id:
          type: string
          nullable: true
        error:
          allOf:
            - $ref: "#/components/schemas/Problem"
          nullable: true

    OperationResponse:
      type: object
      properties:
        operation:
          $ref: "#/components/schemas/Operation"
        receipt:
          $ref: "#/components/schemas/ActionReceipt"

    ActionReceipt:
      type: object
      required: [id, record_id, action_type, outcome, timestamp]
      properties:
        id:
          type: string
        record_id:
          type: string
        action_type:
          type: string
          enum: [opened, shared, copied, linked, marked_delivered, failed, needs_attention]
        target_provider:
          type: string
          nullable: true
        target_object:
          type: string
          nullable: true
          description: Safe identifier or URL of the external target
        timestamp:
          type: string
          format: date-time
        initiator:
          type: string
          enum: [user, system]
        outcome:
          type: string
          enum: [verified, user_confirmed, failed, pending]
          description: verified = confirmed by provider API; user_confirmed = creator manually confirmed
        evidence:
          type: string
          nullable: true
        annotations:
          type: array
          items:
            $ref: "#/components/schemas/ReceiptAnnotation"

    Page:
      type: object
      properties:
        next_cursor:
          type: string
          nullable: true
        has_more:
          type: boolean

    DeliveryLink:
      type: object
      required: [public_url, expires_at]
      properties:
        public_url:
          type: string
          format: uri
        expires_at:
          type: string
          format: date-time
        revoked_at:
          type: string
          format: date-time
          nullable: true
